.wrapper {
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }

h1 {
  text-align: center;
}

body {
  background: #ECEFF1;
}

.nameInput {
  border-radius: 5px;
  margin: 10px;
}

.nameLabel {
  margin-left: 75px;
}

.sortName {
  border-radius: 2px;
  background-color: lightgreen;
  float: right;
  margin-right: 100px;
}

.sortName:hover {
  background-color: rgb(103, 204, 103)
}

.filterName {
  border-radius: 2px;
  background-color: rgb(144, 211, 238);
}

.filterName:hover {
  background-color: rgb(96, 172, 202)
}